.delivery {
    background: rgba(0, 0, 0, 0.80);
}

.delivery-container {
    width: 684px;
    height: 432px;
    flex-shrink: 0;
    border-radius: 24px;
    background: #F9F9F9;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.10);
}