.footer {
    padding-top: 52px;
    display: inline-flex;
    height: 244px;
    width: 100%;
    background: #FFF;
    margin-top: 100px;
}

.footer-content {
    margin-left: 75px;
}

.logo-footer {
    background-image: url('../img/LogoFooter.svg');
    background-size: cover;
    background-repeat: no-repeat; 
    width: 300px;
    height: 58px;
    flex-shrink: 0;
}

.prod {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 59px;
}

.design {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 4px;
}

.phone-container {
    margin-left: 355.68px;

}

.phone-title {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; 
}

.phone-info {
    display: inline-flex;
}

.phone-icon {
    background-image: url('../img/PhoneIcon.svg');
    background-size: cover;
    background-repeat: no-repeat;     
    width: 24px;
    height: 24px; 
    margin-top: 24px;
}

.phone-number {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; 
    margin-top: 25.5px;
    margin-left: 4px;
}

.networks {
    margin-left: 126px;
}

.networks-title {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; 
}

.networks-container {
    display: inline-flex;
    margin-top: 22px;
}

.vk {
    background-image: url('../img/VK.svg');
    background-size: cover;
    background-repeat: no-repeat; 
    width: 36px;
    height: 36px;
}

.telegram {
    background-image: url('../img/Telegram.svg');
    background-size: cover;
    background-repeat: no-repeat; 
    width: 36px;
    height: 36px;
    margin-left: 16px;
}

